*{
  background-color: rgb(133, 183, 116);
   
}
/* html{
 height: -webkit-fill-available;
} */
/* .App{
 height:100vh;
 display:flex;
 flex-direction: column;
 height: -webkit-fill-available;
} */
.progressbar {
   width: 600px;
   height: 10px;
   background-color: white;
   /* margin-bottom: 10px;
   margin-left: 35%;*/
   border-radius: 4px;
 }
 
 .progressbar div {
   /* width: 20%;
   height: 100%; */
   background-color: rgba(13, 110, 253, 1);
   border-radius: 4px;
 }
 
.colour2{
   color:rgb(53, 48, 48);
}
.colour{
   color:rgb(71, 68, 68);
   height: -webkit-fill-available;
   height:100vh;
}
